.logo {
  overflow: hidden;
  border-radius: var(--border-radius-default);
  user-select: none;
  cursor: pointer;
  width: var(--space-32);
  height: var(--space-32);
  aspect-ratio: 1 / 1;
  background-color: #710b2c;
}

.logoCanvas {
  width: var(--space-32);
  height: var(--space-32);
  aspect-ratio: 1 / 1;
  image-rendering: pixelated;
}
